@charset "utf-8";
@font-face {
    font-family: MalgunGothic;
    src:url(./fonts/MalgunGothic.eot);
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'MalgunGothic', 'Roboto', sans-serif;
}

body{
    background-color: #FFFCF7;
}

a{
    text-decoration: none;
    color: #231f20;
    font-size: 12px;
}

ul{
    list-style: none;
    padding-left: 0;
}

.wrap{
    margin: 0 auto;
}

.gap_80{
    height: 80px;
}
.gap_150{
    height: 150px;
}

.header{
    position: relative;
    height: 110px;
    width: 100%;
    max-width: 1600px
}

.logo{
    position: absolute;
    top: 25px;
}
.logo>a{
    display: inline-block;
    width: 150px;
    height: auto;
}
.logo>a>img{
    width: 100%;
}

.top-menu{
    position: absolute;
    top: 15px;
    right: 0;
}
.top-menu>li{
    float: left;
}
.top-menu>li>a{
    font-size: 12px;
    color: #777;
    font-weight: 400;
    margin-left: 40px;
}
.top-menu>li>a:hover, .menu>li>a:hover ,.menu>li>ul>li>a:hover{
    color: #EE303C;
}

.menu{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 37px;
}

.menu>li{
    position: relative;
    float: left;
    height: 100%;
    vertical-align: middle;
}
.menu>li>a{
    margin-right: 80px;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 34px;
}
.menu>li>ul>li>a{
    display: inline-block;
    font-size: 12px;
}
.menu>li>ul{
    display: none;
    position: absolute;
    width: 100%;
    height: 280px;
    background-color: #fff;
    z-index: 9999;
}
.menu>li>ul>li{
    display: block;
    height: 28px;
    padding: 10px 0 0 10px;
}

.menu>li:hover ul{
    display: block;
    background-color: #FFFCF7;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.menu>li ul{
    left: -10px;
}

.cart{
    position: absolute;
    bottom: 10px;
    right: 0;
    vertical-align: middle;
}
.cart>a{
    font-size: 15px;
}
.cart>a>img{
    display: block;
    float: left;
    letter-spacing: 2px;
    margin-right: 4px;
    width: 23px;
}

.mainSlider{
    max-width: 1600px;
    width: 100%;
}
.slick-slide img{
    width: 100%;    
}

.main-dots{
    position: relative;
    bottom: 70px;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding-left: 14.8%;
    box-sizing: border-box;
}
.main-dots>li{
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;
}

.main-dots>li>button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0px;
    outline: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.slick-active>button{
    background-color: #000;
}

.grid_list{
    position: relative;
    width: 1300px;
    
}

.grid_wrap{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid_item{
    padding: 0 29.5px;
}
.thrid_style>.grid_col{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 0;
}
.second_style>.grid_col{
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    margin: 0;
}
.thrid_style{
    display: block;
}

.second_style{
    display: none;
}

.grid_img, .grid_img>img{
    width: 100%;
}
.grid_txt{
    margin: 30px 0 70px;
}
.grid_txt>.title{
    font-size: 18px;
}
.grid_txt>.category{
    font-size: 13px;
}

.title_wrap{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 35px;
}

.title_now{
    float: left;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    line-height: 1.44;
    color: #231f20;
}
.title_now>sup{
    position: relative;
    top: -0.4em;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
.subtitle_now{
    float:right;
}
.subtitle_now>a{
    position: relative;
    font-size: 13px;
    letter-spacing: 0.9px;
    color: #777777;
}
.subtitle_now>a::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0%;
    height: 2px;
    transition: 0.3s ease;
    background-color: #000;
}
.subtitle_now>a::before{
    content: '';
    position: absolute;
    bottom: -4px;
    right: 50%;
    width: 0%;
    height: 2px;
    transition: 0.3s ease;
    background-color: #000;
}
.subtitle_now>a::hover{
    color: #231f20;
    font-weight: bold;
}
.subtitle_now>a:hover::after{
    width: 50%;
}

.subtitle_now>a:hover::before{
    width: 50%;
}

.subtitle_now>span{
    color: #777777;
}

.see_more{
    width: 100%;
    text-align: center;
}

.see_more>a{
    display: inline-block;
    width: 193px;
    height: 50px;
    background: url("../img/seeMoreStory_bk.png") no-repeat center / 95%;
}

.see_more>a:hover{
    background: url("../img/seeMoreStory_red.png") no-repeat center / 95%;
}

.brend_story{
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
}

#bs_link{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 200px;
    height: 50px;
    z-index: 10;
}

.video_bg{
    width: 100%;
    height: 720px;
    text-align: center;
    overflow: hidden;
}

.video_bg>video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 722px;
}

.video_bg::after{
    content: '';
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/exploreText.png') no-repeat center / 100%;
    width: 360px;
    height: 70px;
    z-index: 100;
}

.video_bg::before{
    content: '';
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/exploreBtn.png') no-repeat center / 100%;
    width: 146px;
    height: 36px;
    z-index: 100;
}

.find_your_desk{
    width: 100%;
    background-color: #fff;
}

.fyd_wrap{
    position: relative;
    width: 100%;
    width: 1333px;
}

.fyd_title{
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 2.1px;
    color: #231f20;
    margin-left: -10px;
}

.fyd_item_wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;    
}

.fyd_item{
    position: relative;
    width: 31.5%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 145px 5px 0 5px;
}


.fyd_item:hover{
    background-color: rgb(229, 229, 229);
}

.fyd_item>img{
    width: auto;
}

.fyd_item>p{
    padding: 85px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 2.06;
    letter-spacing: 2.3px;
}

.title_wrap{
    position: relative;
    width: 1335px;
    width: 100%;
}

.store_title{
    margin-left: -15px;
}

.storeSlider{
    width: 1304px;
    width: 100%;
}

.store-dots{
    position: relative;
    bottom: -20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.store-dots>li{
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;
}
.store-dots>li>button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0px;
    outline: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.footer{
    width: 100%;
    border-top: 1px solid #7A7673;
}

.footer_wrap{
    width: 1300px;
}

.footer_menu{
    padding: 40px 0 50px;
    
}

.footer_menu>dl{
    display: inline-block;
    vertical-align: top;
}

.footer_menu>dl>dt{
    font-size: 12px;
    color: #231F20;
    font-weight: 500;
}
.footer_menu>dl>dd>a{
    font-size: 12px;
    color: #777777;
}
.footer_menu>dl>dt{
    height: 35px;
}
.footer_menu>dl>dd{
    height: 27px;
}

.m1>dt, .m1>dd{
    width: 150px;
}
.m2>dt, .m2>dd{
    width: 150px;
}
.m3>dt, .m3>dd{
    width: 140px;
}
.m4>dt, .m4>dd{
    width: 130px;
}
.m5>dt, .m5>dd{
    width: 120px;
}
.m6>dt, .m6>dd{
    width: 200px;
}
.m7{
    width: 310px;
    height: 35px;
}

.m7>dd, .m7>ul>li>a{
    font-size: 12px;
    color: #777777;
}

.m8>img{
    width: 40px;
}


.pc_chatIcon{
    width: 62px;
    height: 17px;
    cursor: pointer;
    margin: 5px 0;
}
.sns>li{
    display: inline-block;
    margin: 20px 10px 0 0;
}
.sns>li:first-child>a>img{
    width: 16px;
}
.sns>li:nth-child(2)>a>img{
    width: 7.5px;
}
.sns>li:nth-child(3)>a>img{
    width: 13px;
}
.sns>li:last-child>a>img{
    width: 25px;
}
.dash{
    background: url('../img/dash.png') repeat-x;
    height: 1px;
}
.footer_policy{
    padding: 30px 0 20px;
}
.policy_pc{
    display: block;
    display: inline-block;
}
.policy_pc>li{
    font-size: 12px;
    color: #777;
    line-height: 180%;
    margin-bottom: 17px;
}

.policy_m{
    display: none;
}

.crt{
    float: right;
    width: 300px;
    margin-top: 41px;
    margin-right: 62px;
}
.crt>li{
    font-size: 12px;
    color: #777;
    margin-bottom: 7px;
}

.spc{
    padding: 6px 0 0 32px;
    line-height: 12px;
    background: url('../img/spc_desker1.png') no-repeat left top;
    background-size: 28px 18px;
}

.bottom_blank{
    height: 80px;
}

.banner_wrap>div{
    display: inline-block;
    line-height: 80px;
}

.banner_wrap>div>span{
    font-size: 12px;
    color: #231f20;
    font-weight: 600;   
}

.left{
    margin-left: 160px;
    float: left;
}
.left>img{
    vertical-align: middle;
    margin-right: 10px;
}
.right{
    margin-right: 160px;
    float: right;
}

.bottom_banner{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background: #ebe7e1;
}


@media screen and (max-width: 1300px) {

	.header{
        width: 90%;
    }
    .grid_list{
        width: 100%;
    }
    .fyd_wrap{
        width: 100%;
    }
    .footer_wrap{
        width: 100%;
    }
}

@media screen and (max-width:940px) {
    .fyd_item>img{
        width: 65%;
    }
}

@media screen and (max-width:768px) {


    .thrid_style{
        display: none;
    }
    
    .second_style{
        display: block;
    }
    

    .fyd_title{
        text-align: center;
    }
    .fyd_item_wrap>div:first-child{
        width: 47% !important;
        height: 33.3% !important;
        margin: 0 2.25px 4px 10px !important;
        padding-top: 50px;
    }
    .fyd_item_wrap>div:nth-child(2){
        width: 47% !important;
        height: 33.3% !important;
        margin: 0 10px 4px 2.25px !important;
        padding-top: 50px;
    }
    .fyd_item_wrap>div:last-child{
        width: 94.5% !important;
        height: 33.3%;
        margin: 0 10px;
        padding-top: 60px;
    }
    .fyd_item_wrap>div>p{
        padding: 30px 0;
        font-size: 10px;
    }
    .gap_150{
        height: 80px;
    }
}









@media (max-width: 768px){
    .policy_pc{
        display: none;
    }
    .policy_m{
        display: block;
    }
    .footer_policy{
        padding: 40px 0 50px;
    }
}
