@charset "utf-8";
@font-face {
    font-family: MalgunGothic;
    src:url(./fonts/MalgunGothic.eot);
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'MalgunGothic', 'Roboto', sans-serif;
}

body{
    background-color: #FFFCF7;
}

a{
    text-decoration: none;
    color: #231f20;
    font-size: 12px;
}

ul{
    list-style: none;
    padding-left: 0;
}

.gap_80{
    height: 80px;
}
.gap_150{
    height: 150px;
}

.header{
    position: relative;
    width: 95%;
    height: 110px;
    min-width: 1200px;
    max-width: 1600px;
}

.logo{
    position: absolute;
    top: 25px;
}
.logo>a{
    display: inline-block;
    width: 150px;
    height: auto;
}
.logo>a>img{
    width: 100%;
}

.top-menu{
    position: absolute;
    top: 15px;
    right: 0;
}
.top-menu>li{
    float: left;
}
.top-menu>li>a{
    font-size: 12px;
    color: #777;
    font-weight: 400;
    margin-left: 40px;
}
.top-menu>li>a:hover, .menu>li>a:hover ,.menu>li>ul>li>a:hover{
    color: #EE303C;
}

.menu{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 37px;
}

.menu>li{
    position: relative;
    float: left;
    height: 100%;
    vertical-align: middle;
}
.menu>li>a{
    margin-right: 80px;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 34px;
}
.menu>li>ul>li>a{
    display: inline-block;
    font-size: 12px;
}
.menu>li>ul{
    display: none;
    position: absolute;
    width: 100%;
    height: 280px;
    background-color: #fff;
    z-index: 9999;
}
.menu>li>ul>li{
    display: block;
    height: 28px;
    padding: 10px 0 0 10px;
}

.menu>li:hover ul{
    display: block;
    background-color: #FFFCF7;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.menu>li ul{
    left: -10px;
}

.cart{
    position: absolute;
    bottom: 10px;
    right: 0;
    vertical-align: middle;
}
.cart>a{
    font-size: 15px;
}
.cart>a>img{
    display: block;
    float: left;
    letter-spacing: 2px;
    margin-right: 4px;
    width: 23px;
}

.main{
    width: 100%;
}

.desker_main_slide{
    display: block;
    width: 1600px;
    height: 778px;
    overflow: hidden;
    border: 1px solid #000;
}

.slide_frame{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide_frame>li{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1600px;
    width: 100%;
    height: 100%;
}

.slide_frame>li>img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid_list{
    position: relative;
    width: 100%;
    max-width: 1300px;
}

.grid_wrap{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid_item{
    padding: 0 29.5px;
}
.grid_wrap>.grid_col{
    width: 33%;
    margin: 0;
}
.grid_img, .grid_img>img{
    width: 100%;
}
.grid_txt{
    margin: 30px 0 70px;
}
.grid_txt>.title{
    font-size: 18px;
}
.grid_txt>.category{
    font-size: 13px;
}

.title_wrap{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 35px;
}

.title_now{
    float: left;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    line-height: 1.44;
    color: #231f20;
}
.title_now>sup{
    position: relative;
    top: -0.4em;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
.subtitle_now{
    float:right;
}
.subtitle_now>a{
    position: relative;
    font-size: 13px;
    letter-spacing: 0.9px;
    color: #777777;
}
.subtitle_now>a::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0%;
    height: 2px;
    transition: 0.3s ease;
    background-color: #000;
}
.subtitle_now>a::before{
    content: '';
    position: absolute;
    bottom: -4px;
    right: 50%;
    width: 0%;
    height: 2px;
    transition: 0.3s ease;
    background-color: #000;
}
.subtitle_now>a::hover{
    color: #231f20;
    font-weight: bold;
}
.subtitle_now>a:hover::after{
    width: 50%;
}

.subtitle_now>a:hover::before{
    width: 50%;
}

.subtitle_now>span{
    color: #777777;
}

.see_more{
    width: 100%;
    text-align: center;
}

.see_more>a{
    display: inline-block;
    width: 193px;
    height: 50px;
    background: url("../img/seeMoreStory_bk.png") no-repeat center / 95%;
}

.see_more>a:hover{
    background: url("../img/seeMoreStory_red.png") no-repeat center / 95%;
}

.brend_story{
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
}

#bs_link{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 200px;
    height: 50px;
    z-index: 10;
}

.video_bg{
    width: 100%;
    height: 720px;
    text-align: center;
}

.video_bg>video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2168px;
    height: auto;
}

.video_bg::after{
    content: '';
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/exploreText.png') no-repeat center / 100%;
    width: 360px;
    height: 70px;
    z-index: 100;
}

.video_bg::before{
    content: '';
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/exploreBtn.png') no-repeat center / 100%;
    width: 146px;
    height: 36px;
    z-index: 100;
}

.find_your_desk{
    width: 100%;
    background-color: #fff;
}

.fyd_wrap{
    position: relative;
    width: 100%;
    max-width: 1333px;
}

.fyd_title{
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 2.1px;
    color: #231f20;
    margin-left: -10px;
}

.fyd_item_wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;    
}

.fyd_item{
    width: 31.5%;
    height: 100%;
    padding-top: 145px;
    background-color: rgb(245, 245, 245);
    margin: 0 10px;
}


.fyd_item:hover{
    background-color: rgb(229, 229, 229);
}

.fyd_item>p{
    padding: 85px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 2.06;
    letter-spacing: 2.3px;
}

.store_title{
    margin-left: -15px;
}

.desker_store_wrap{
    position: relative;
    max-width: 1333.5px;
    width: 100%;
}

.store_slide{
    position: relative;
    width: 100%;
    height: 100%;
}
.store_slide_frame{
    text-align: center;
    max-width: 1333.5px;
    max-height: 652px;
    width: 100%;
    height: 100%;
}

.store_slide_frame>img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1304px;
    
}
